@import '../../styles/mixin';
@import '../../styles/variables';

.login {
  display: flex;

  .titleBox {
    width: 40%;
    padding: 32px 80px;
    background-color: #0058a3;

    .titleUseBox {
      @include flex(column, null, space-between);
      height: 100%;
      margin: 0 auto;
      @include flex(column, center, space-between);

      .textBox {
        width: 90px;
        height: 36px;
        object-fit: cover;
        margin-top: 20px;
        margin-right: 70px;
        color: #cdcdcd;
        font-size: 25px;
      }
      .logoIcon {
        position: relative;
        align-items: center;
        justify-content: flex-start;
        color: #cdcdcd;

        .logoIcon {
          position: absolute;
          left: -80px;
          font-size: 20px;
        }

        .textBox {
          font-size: 25px;
        }
      }
    }

    .textBoxTitle {
      position: relative;
      width: 100%;
      margin-top: 0%;
      color: #ffff;

      .title {
        margin-top: 16px;
        color: $mainBrandYellow;
        font-size: 32px;
        font-weight: 700;
      }

      .titleText {
        padding-top: 14px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .article {
      display: flex;
      flex-direction: column;
      color: #fff;
      font-size: 12px;
      line-height: 1.7;

      .underline {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .loginBox {
    width: 60%;
    height: 100vh;
    @include flex(flex-start, center, row);
    padding: 32px 80px;

    & div {
      margin-bottom: 40px;
    }

    .inputForm {
      width: 448px;

      .loginBoardEmail {
        display: flex;
        flex-direction: column;
      }

      .inputId {
        height: 50px;
        padding-left: 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
        font-size: 1rem;
      }

      .inputPassword {
        width: 100%;
        height: 50px;
        padding-left: 1rem;
        border: 1px solid #000000;
        border-radius: 5px;
      }

      .loginBtn {
        width: 100%;
        height: 60px;
        margin-bottom: 40px;
        border-radius: 70px;
        background-color: #0058a3;
        color: #ffffff;
        font-size: 0.95rem;
        font-weight: 800;
      }
    }

    .joinBtn {
      width: 100%;
      height: 60px;
      border: 1px solid #000000;
      border-radius: 40px;
    }
  }
}
@media screen and (max-width: 640px) {
  .titleBox {
    width: 100%;
  }

  .login {
    flex-direction: column;
  }
  .textBox {
    width: 100vw;
    margin: 0 30px 0 30px;
  }
  .loginRbox {
    width: auto;
  }
  .textBoxTitle {
    height: auto;
    margin: 0;
    margin-top: 0;
  }
}
