.loginContainer {
  display: flex;
  .titleBox {
    background-color: #0058a3;
    width: 40%;
    .useBox {
      width: 20vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      .textBox {
        margin-top: 20px;
        width: 70%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 80px;
      }
      .logoIcon {
        width: 0%;
        height: 10px;
        margin-left: 10px;
      }
    }

    .textBoxTitle {
      width: 100%;
      height: 300px;
      color: #ffff;
      margin-top: 90%;
      position: relative;

      h1 {
        font-size: 2rem;
        color: #ffff00;
        line-height: 100px;
      }
      p {
        line-height: 35px;
      }
    }
    .footer {
      width: 80%;
      height: 40px;
      color: #cdcdcd;
      margin-top: 100px;
      margin-right: auto;
    }
  }
}

.loginRbox {
  // width: 70%;
  height: 100vh;
  // display: flex;
  justify-content: center;

  // .totalFormBox {
  width: 50vw;
  // height: 100%;
  display: flex;
  align-items: center;

  & div {
    margin-bottom: 40px;
  }

  .loginBoard {
    margin-bottom: 40px;

    .inputId {
      border: 1px solid #000000;
      width: 100%;
      height: 50px;
      font-size: 1rem;
      border-radius: 5px;
      padding-left: 1rem;
    }

    .inputPassword {
      border: 1px solid #000000;
      width: 100%;
      height: 50px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
    }

    .loginBtn {
      background-color: #0058a3;
      font-size: 0.95rem;
      color: #ffffff;
      font-weight: 800;
      width: 100%;
      height: 60px;
      border-radius: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      border: 0;
      outline: 0;
    }

    .joinBtn {
      border: 1px solid black;
      width: 100%;
      height: 60px;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // }
}

@media screen and (max-width: 640px) {
  .titleBox {
    width: 100%;
  }

  .loginContainer {
    flex-direction: column;
  }
  .textBox {
    width: 100vw;
    margin: 0 30px 0 30px;
  }
  .loginRbox {
    width: auto;
  }
  .textBoxTitle {
    margin-top: 0;
    height: auto;
    margin: 0;
  }
}
