@import '../../styles/variables';
@import '../../styles/mixin';

.main {
  display: flex;
  flex-direction: column;
  margin: 3% 3% 6% 9%;

  .mainTitleBoxStyle {
    margin-bottom: 50px;

    .welcomeMessageStyle {
      margin-bottom: 10px;
      font-size: 35px;
      font-weight: bold;
    }

    .loginLinkStyle {
      color: $mainBrandBlue;
      font-weight: bold;
      text-decoration: none;
    }
  }
  .mainPromoStyle {
    margin-bottom: 50px;

    .mainPromoTitle {
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: bold;
    }
    .mainPromoSubTextBox {
      @include flex(row, center, space-between);
      width: 87vw;
      margin-bottom: 20px;
      font-size: 14px;

      .mainPromoTextStyle {
        width: 53%;
        font-size: 14px;
        line-height: 130%;
      }

      .promoButtonStyle {
        width: 200px;
        height: 40px;
        border: 1px solid #000000;
        border-radius: 70px;
        background-color: #ffffff;
        font-weight: bold;
      }
    }
    .promoImageBox {
      display: flex;
      justify-content: space-between;
      width: 87vw;
      height: 80vh;
      margin-bottom: 60px;

      .promoImageBoxEach {
        width: 49%;
        height: 100%;

        .promoImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .textPromoBox {
    width: 87vw;
    padding: 5%;
    padding-right: 40%;
    background-color: #007b41;

    .textPromoMainText {
      margin-bottom: 10px;
      color: white;
      font-size: 23px;
      font-weight: bold;
    }
    .textPromoSubText {
      margin-bottom: 40px;
      color: white;
      font-size: 14px;
      line-height: 160%;
    }
    .textPromoButton {
      width: 200px;
      height: 40px;
      border: none;
      border-radius: 70px;
      background-color: #ffffff;
      font-weight: bold;
    }
  }
}
