@import '../../styles/mixin.scss';

.category {
  margin: 0 3% 0 6%;
  margin-top: 90px;

  .categoryTitle {
    font-size: 36px;
    font-weight: 700;
    margin: 50px 0;
  }

  .buttonCountWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    .categoryButton {
      & button {
        background: transparent;
        color: #111;
        font-weight: 700;
        padding: 6px 12px;
        border: 1px solid #dfdfdf;
        cursor: pointer;

        &:first-child {
          border-radius: 4px 0 0 4px;
        }

        &:last-child {
          border-radius: 0 4px 4px 0;
        }

        &:hover {
          border-color: #929292;
        }
      }
    }

    .categoryCount {
      font-size: 12px;
      color: #929292;
    }
  }

  .categoryFilter {
    position: sticky;
    display: flex;
    top: 0;
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
    padding: 16px 0;

    & button {
      @include flex(space-between, normal, normal);
      gap: 10px;
      background-color: #f5f5f5;
      margin-right: 10px;
      padding: 10px 22px;
      border-radius: 20px;
      border: 1px solid transparent;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        background-color: #dfdfdf;
      }

      &:active {
        background-color: #cccccc;
      }
    }
  }

  .categoryList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;

    .categoryItems {
      border-bottom: 1px solid #dfdfdf;
      padding: 60px 0 40px 0;
    }
  }
}
