@import '../../styles/variables.scss';
.categoryItems {
  .categoryImg {
  }
  .itemInformationWrapper {
    padding-bottom: 40px;

    .itemInformation {
      display: flex;
      flex-direction: column;

      &:hover .itemName {
        text-decoration: underline;
      }

      .itemTitle {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        margin-top: 20px;

        .itemName {
          font-size: 14px;
          font-weight: 700;
        }

        .itemDescription {
          color: #484848;
          margin-bottom: 20px;
        }
      }

      .itemPrice {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .itemStar {
        margin-bottom: 20px;
      }
    }
  }

  .iconCart {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    background-color: $mainBrandBlue;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: #004f93;
    }
  }

  .iconHeart {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
