@import '../../styles/mixin';
.filterDropDown {
  position: absolute;
  // 임시
  z-index: 5;
  min-width: 300px;
  padding: 32px;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 1px 3px 8px 0px #929292;

  .filterList {
    @include flex(space-between, center, row);
    padding: 16px 0;

    &:hover {
      cursor: pointer;
    }

    .filterText {
      font-size: 14px;
    }
  }
}
