.cart {
  display: flex;
  // width: 100vw;
  // height: 100vh;
  margin-top: 20px;
  margin-right: 6%;
  margin-left: 4%;
  .shopCart {
    // width: 75vw;
    // height: 100vw;
    .titleBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75vw;
      height: 5vw;
      font-size: 30px;
      .cartTitleIcon {
        margin-right: 15%;
        font-size: 20px;

        &:hover {
          border-radius: 100%;
          background-color: #d8d3d3;
        }
      }
    }
    .detailTitleBox {
      top: 5px;
      width: 75vw;
      height: 3vw;
    }
    .titleBoxWish {
      display: flex;
      top: auto;
      width: 74vw;
      height: 7vw;
      margin-left: 20px;
      gap: 30px;

      .shippingText {
        width: 28vw;
        height: 6vw;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        background-color: transparent;
        text-align: start;
        cursor: pointer;

        &:hover {
          border-color: #000;
        }
      }
    }
    .favoriteProducBox {
      width: 65vw;
      // height: 30vw;
      // border: 1px solid black;
    }
    .productBoxCommentBox {
      width: 65vw;
      height: 30vw;
      border: 1px solid #dfdfdf;
      border-radius: 8px;
      .serviceBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 65vw;
        height: 4vw;
        margin-left: 10px;
        border-bottom: 1px solid #dfdfdf;
      }
      .serviceDetailBox {
        width: 74vw;
        height: 10vw;
        margin-left: 10px;
        font-size: 16px;
        line-height: 2;
      }
      .serviceButton {
        width: 15vw;
        height: 3vw;
        margin-left: 10px;
        border: none;
        border-radius: 20px;
        background-color: #2b2a2a;
        color: aliceblue;
        font-size: 15px;

        &:hover {
          border-color: #f4f1f1;
        }
      }
    }
  }
  .payBox {
    display: flex;
    align-items: center;
    height: 100vw;

    .payDetailBox {
      position: sticky;
      top: 10%;
      bottom: 30%;
      width: 90%;
      height: 400px;
      margin-top: 10px;

      .priceBox {
        width: 100%;
        height: 40%;
        margin-top: 20px;
        border-bottom: 1px solid #dfdfdf;

        .priceDetailBox {
          width: 100%;
          height: 40%;
          font-size: 20px;
        }

        .orderHistoryBox {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 40%;
          font-size: 20px;

          .boxPrice {
            border: none;
            background-color: white;
          }
        }
        .textShipping {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 40%;
          font-size: 13px;
        }

        .totalPrice {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 40%;
          margin-bottom: 10px;

          .wonBox {
            border: none;
            background-color: white;
          }
        }

        .payButton {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 20vw;
          height: 7vw;
          margin-bottom: 20px;
          padding: 40px 20px;
          border: none;
          border-radius: 5px;
          background-color: #0058a3;
          color: #f0f8ff;
          font-size: 16px;

          &:hover {
            background-color: #064885;
          }
        }

        .payBackTitle {
          font-size: 15px;
          line-height: 2;
          text-decoration: underline;

          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}
