@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position_center {
  position: 'absolute';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position($top, $left, $translateX, $translateY) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate($translateX, $translateY);
}
