// colors
$mainBrandYellow: #e4c100;
$mainBrandBlue: #0058a3;
$mainBrandBlueHover: #004f93;
$lightgrey: #f5f5f5;
$middlegrey: #dfdfdf;

// border style
$mainBorderStyle: 1px solid #dfdfdf;

// breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 900px;
$breakpoint-mobile: 640px;
