@import '../../styles/mixin';

.categoryCarousel {
  .titleStyle {
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
  }

  .carouselContainer {
    position: relative;
    width: 87vw;
    height: 400px;

    &:hover .prevButton,
    &:hover .nextButton {
      transition: 500ms;
      opacity: 1;
    }
    .prevButton {
      position: absolute;
      z-index: 1;
      top: 40%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
      border: none;
      border-radius: 70px;
      opacity: 0%;
      background-color: #000000;
      color: #ffffff;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: #4a4a4a;
      }
    }

    .nextButton {
      @extend .prevButton;
      left: 100%;
    }
    .categoryCarouselContainer {
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0px;
        height: 2px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: #000000;
      }

      &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
      }

      .imageContainer {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        width: 87vw;
        height: 360px;
        gap: 20px;

        .imageBoxEach {
          position: relative;

          .carouselImageStyle {
            width: 247px;
            height: 320px;
            object-fit: cover;
          }

          .imageLinkButton {
            @include position(73%, 50%, -50%, -50%);
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 70px;
            background-color: #ffffff;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }
}
