@import '../../styles/mixin';

.sideModal {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 100%;
  padding: 0 30px;
  overflow-y: scroll;
  transform: translateX(0);
  transition: transform 200ms 0s;
  transition-property: transform, visibility;
  background-color: #fff;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.2);

  .sideModalTitle {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    margin-left: 30px;
    padding: 30px 0;
    background-color: #fff;

    .sideModalCloseButton {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background-color: transparent;

      &:hover {
        background-color: #f5f5f5;
        cursor: pointer;
      }
    }

    .modalLogo {
      width: 90px;
      height: 36px;
      margin-left: 60px;
      background-color: yellow;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .sideModalListWrapper {
    padding: 0 32px 0 120px;
    line-height: 2;

    .sideModalList {
      padding: 30px 0;
      font-weight: 700;

      .mainBoldMenuList {
        font-size: 36px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .mainSemiBoldMenuList {
        font-size: 14px;
        line-height: 2.5;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .sideModalInfo {
      margin: 10px 0;
      font-size: 14px;
      line-height: 2.5;

      .mainMenuInfo {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .sideModalButtonWrapper {
    display: flex;
    margin: 30px 0;
    padding: 20px 0px 12px 100px;
    font-size: 12px;

    .sideModalButton {
      @include flex(space-between, null, null);
      margin-right: 10px;
      padding: 10px 22px;
      border: 1px solid #dfdfdf;
      border-radius: 20px;
      background-color: transparent;
      font-weight: 700;
      gap: 10px;

      &:hover {
        border-color: #929292;
        cursor: pointer;
      }

      &:active {
        border-color: #000;
      }
    }
  }
}

.sideModalHidden {
  visibility: hidden;
  transform: translateX(-470px);
  transition: transform 200ms 0s;
  transition-property: transform, visibility;
}
