@import '../../styles/mixin.scss';

.sideModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 100vh;
  padding: 0 30px;
  z-index: 999;
  background-color: white;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.2), 1111px;

  .sideModalTitle {
    display: flex;
    margin-left: 30px;
    padding: 30px 0;

    .sideModalCloseButton {
      background-color: transparent;
      border: 1px solid transparent;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .modalLogo {
      // padding: 28px 0 28px 120px;
      margin-left: 60px;
      width: 90px;
      height: 36px;
      background-color: yellow;
    }
  }

  .sideModalListWrapper {
    padding: 0 32px 0 120px;
    line-height: 2;

    .sideModalList {
      padding: 30px 0;
      font-weight: 700;

      .mainBoldMenuList {
        font-size: 36px;

        &:hover {
          text-decoration: underline;
        }
      }
      .mainSemiBoldMenuList {
        font-size: 14px;
        line-height: 3;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .sideModalInfo {
      line-height: 3;
      font-size: 14px;
      margin: 10px 0;

      .mainMenuInfo {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .sideModalButtonWrapper {
      display: flex;
      gap: 10px;
      font-size: 12px;
      margin: 30px 0;

      .sideModalButton {
        display: flex;
        gap: 10px;
        font-weight: 700;
        padding: 8px 36px 8px 20px;
        border-radius: 64px;
        border: 1px solid #dfdfdf;
        background: transparent;
      }
    }
  }
}
