.footer {
  background-color: gray;
  // 임시 패딩
  padding-left: 100px;
}

.firstColumn {
  background-color: red;
  display: flex;

  & > * {
    margin-right: 50px;
  }
}
.footerLink {
  display: flex;
  flex-direction: column;
  padding-right: 8%;
}

.footerLists {
  display: flex;
}

.secondColumn {
  background-color: yellow;
  height: 100px;
}

.footerCopy {
}

.thirdColumn {
  background-color: orange;
  height: 100px;
}
