@import '../../styles/mixin.scss';
// fixed 체크용
html {
  height: 1000px;
}
// nav 높이 90px
.nav {
  position: relative;
  height: 90px;
  padding: 0 3%;
}

.navButton {
  position: fixed;
  top: 5%;
  left: 3%;
  @include flex_column;

  & .fontawesome {
    margin-bottom: 14px;
  }
}

.navContainer {
  @include flex(space-between, center);
  margin-left: 6%;
  height: 100%;

  .navContainerLogo {
    width: 90px;
    height: 36px;
    background-color: yellow;

    &:hover {
      cursor: pointer;
    }
  }
}

.navSearch {
  position: relative;
  width: 70%;

  .navSearchIconLeft {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%);
  }

  .navSearchInput {
    width: 100%;
    padding: 16px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50rem;
    background-color: #f5f5f5;
    border: 2px solid transparent;
    font-size: 16px;

    &:hover {
      background-color: #dfdfdf;
    }

    &:focus {
      background-color: #fff;
      border-color: #0058a3;
    }
  }

  .navSearchIconRight {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
  }
}

.navIcons {
  display: flex;

  .navIconsLeft {
    margin-right: 10px;

    & .fontawesome {
      margin-right: 10px;
    }
  }
}
// 기존에 바로위 .navIcons 선택자에 네스팅되어있어도 정상적으로 작동했었는데
// camelCase로 변경한 뒤 네스팅을 풀어줘야지 반응형이 작동하는 이유가 잘 이해가 안됩니다ㅠ.
// 하단 119번째 줄 "disblay:block"
.navIconsHamburger {
  display: none;
}

@media (max-width: 1200px) {
  .navIcons .fontawesome {
    margin-right: 0;
  }
  .navIcons * {
    margin-right: 20px;
    display: flex;
  }
  .navIconsLeft > span {
    display: none;
  }
  .navButton {
    display: none;
  }
  .navContainer {
    margin-left: 0;
  }
  .navIconsHamburger {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .nav {
    height: 60px;
  }
}
