@import '../../styles/mixin';
@import '../../styles/variables';
.nav {
  position: relative;
  height: 90px;
  padding: 0 3%;

  .navButton {
    // @include flex_column;
    @include flex(column, center, null);
    position: fixed;
    top: 25px;
    left: 3%;
    cursor: pointer;

    @media (max-width: 1200px) {
      display: none;
      // position: static;
    }

    & .fontawesome {
      margin-bottom: 14px;
    }
  }

  .navContainer {
    @include flex(null, center, space-between);
    height: 100%;
    margin-left: 6%;

    @media (max-width: $breakpoint-desktop) {
      margin-left: 0;
    }

    .navContainerLogo {
      width: 90px;
      height: 36px;
      background-color: yellow;

      &:hover {
        cursor: pointer;
      }
    }

    .navSearch {
      position: relative;
      width: 60%;

      &:focus-within::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        width: calc(100% + 24px);
        height: calc(100% + 24px);
        border-radius: 8px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1111px;
      }

      .navSearchIconLeft {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 3%;
        transform: translate(-50%, -50%);
      }

      .navSearchInput {
        position: relative;
        z-index: 5;
        width: 100%;
        padding: 16px 5%;
        border: 2px solid transparent;
        border-radius: 50rem;
        background-color: #f5f5f5;
        font-size: 16px;

        &:hover {
          background-color: #dfdfdf;
        }

        &:focus {
          border-color: #0058a3;
          background-color: #fff;
        }
      }

      .navSearchIconRight {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-50%, -50%);
      }
    }

    .navIcons {
      display: flex;

      .navIconsUser {
        margin-right: 10px;

        & .fontawesome {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .navButton {
    display: none;
    position: static;
  }

  .navContainer {
    .navIcons .fontawesome {
      display: flex;
      margin-right: 20px;
    }

    & .fontawesome {
      margin-right: 0;
    }

    .navIconsUser > span {
      display: none;
    }

    .navIconsHamburger {
      display: block;
      margin-right: 0;
    }
  }
}

@media (max-width: 900px) {
  .nav {
    height: 60px;

    .navButton {
      top: 14px;
    }
  }
}

@media (min-width: 1200px) {
  .navIconsHamburger {
    display: none;
  }
}
