.navDropDown {
  position: absolute;
  z-index: 5;
  left: -12px;
  width: calc(100% + 24px);
  padding: 16px 32px 24px 32px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;

  .navSearchResult {
    display: flex;
    align-items: center;
    margin-left: 4%;
    border-bottom: 1px solid #dfdfdf;
    cursor: pointer;

    .searchResultText {
      margin: 20px 20px;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        transform: translateY(-3px);
        transition: 0.2s ease-in-out;
        text-decoration: underline;
      }
    }
  }
}
