.navDropDown {
  position: absolute;
  z-index: 5;
  left: -12px;
  width: calc(100% + 24px);
  // TO-DO : 검색기능 리스트 추가 시 고정값 제거
  height: 200px;
  padding: 16px 32px 24px 32px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;

  .navSearchResult {
    display: flex;
    align-items: center;
    margin-left: 4%;

    .searchResultText {
      margin-left: 20px;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
